%p#notice= notice
- if @user.avatar.present?
  = image_tag @user.avatar, size: '100x100'
%p
  #{@user.name}
%p
  birthday: #{@birthday}
= link_to 'Friends', user_friends_path
\|
= link_to 'Back', root_path
