= form_for @witcher do |f|
  - if @witcher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@witcher.errors.count, "error")} prohibited this witcher from being saved:"
      %ul
        - @witcher.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
