%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Comment
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}>
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Home', root_path
            %li
              - if user_signed_in?
                %li
                  %p Hello, #{current_user.email}
                %li
                  = link_to 'log_out', destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to 'log_in', new_user_session_path
                %li
                  = link_to 'sign_up', new_user_registration_path
                %li
                  = link_to 'log_in_with_facebook', user_facebook_omniauth_authorize_path
    = yield
